<h1>Friends, an ultra-simple CRM to never forget about friends! t</h1>




<p> Please sign up to add a friend and show our friend list. </p>









<p> This is a web app made in Rails and styled using Bootstrap that allows you to create friends, store them in a SQLite database, edit and delete them. </p>